@import 'src/app/variables';
@import 'src/utils/mixins';

.banner__carousel-container {
  min-height: 320px;
  width: 100%;

  @include onTablet {
    position: static;
    width: 100%;
  }

  @include onDesktop {
    position: static;
    width: 100%;
    min-height: 400px;
  }
}

.banner__link {
  position: absolute;
  text-transform: uppercase;
  background: linear-gradient(to right, #6B06CF 0%, #FF4ABD 50%, #5B3ECF 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: $bold-weight;
  pointer-events: auto;

  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 50px;

  border: 3px solid #6B06CF;

  font-size: 10px;

  top: 10%;
  left: 30%;

  @include onTablet {
    top: 60%;
    left: 15%;
    font-size: 20px;
    padding-inline: 30px;
    padding-block: 20px;
  }

  &:hover {
    box-shadow: inset -3px 0px 13px 0px rgba(207, 34, 234, 1);
  }
}

.text {
  position: absolute;
  display: none;


  @include onTablet {
    display: inline;
    color: white;
    top: 10%;
    left: 10%;
  }
}

.item__title {
  padding-bottom: 10px;
  font-size: 40px;
  background: #6B06CF;
  background: linear-gradient(to right, #6B06CF 0%, #FF4ABD 50%, #5B3ECF 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item__text {
  font-size: 20px;
}

.banner_content {
  position: relative;
  box-sizing: border-box;
  min-height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position: center ;

  &--phone {
    background-image: url('./../../../public/Slice1.png');

    @include onTablet {
      background-image: url('./../../../public/GroupDesc.png');
      background-position: 75% 25%;
    }

    @include onDesktop {
      min-height: 400px;
      background-position: 75% 25%;
    }
  }

  &--tablet {
    background-image: url('./../../../public/SliceTabletBanner.png');

    @include onTablet {
      background-image: url('./../../../public/TabletBanner.png');
      background-position: 75% 25%;
    }

    @include onDesktop {
      min-height: 400px;
      background-position: 75% 25%;
    }
  }
  &--watch {
    background-image: url('./../../../public/SliceWatch.png');

    @include onTablet {
      background-image: url('./../../../public/WatchDesc.png');
      background-position: 75% 25%;
    }

    @include onDesktop {
      min-height: 400px;
      background-position: 75% 25%;
    }
  }
}

.carousel_item {
  @include onDesktop {
    padding-inline: 48px;
  }

  @include onTablet {
    padding-inline: 48px;
  }
}

.banner__container {
  position: relative;
  width: 100%;
}

.banner-buttons {
  pointer-events: none;
  position: absolute;
  width: 100%;
  min-height: 320px;
  top: 0;
  display: none;

  @include onDesktop {
    min-height: 400px;
    display: flex;
    justify-content: space-between;
  }
  @include onTablet {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    pointer-events: auto;
    display: none;

    @include onDesktop {
      width: 32px;
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 0;
      flex-shrink: 0;
      border: 1px solid $icons-color;
      background-color: white;
      cursor: pointer;

      &::before {
        content: url('./../../../public/icons/arrow-left-active.svg');
        width: 16px;
        height: 16px;
      }

      &:hover {
        border: 1px solid $primary-color;
      }
    }
    @include onTablet {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 0;
      border: 1px solid $icons-color;
      background-color: white;
      cursor: pointer;

      &::before {
        content: url('./../../../public/icons/arrow-left-active.svg');
        width: 16px;
        height: 16px;
      }
      width: 32px;
      height: inherit;
      flex-shrink: 0;
    }
  }

  &__right {
    pointer-events: auto;
    display: none;

    @include onTablet {
      width: 32px;
      height: inherit;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 0;
      border: 1px solid $icons-color;
      background-color: white;
      cursor: pointer;

      &::before {
        content: url('./../../../public/icons/arrow-right-active.svg');
        width: 16px;
        height: 16px;
      }
    }

    @include onDesktop {
      width: 32px;
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 0;
      border: 1px solid $icons-color;
      background-color: white;
      cursor: pointer;

      &::before {
        content: url('./../../../public/icons/arrow-right-active.svg');
        width: 16px;
        height: 16px;
      }

      &:hover {
        border: 1px solid $primary-color;
      }
    }


  }
}

.dot {
  width: 14px;
  height: 4px;
  cursor: pointer;

  background-color: $secondary-color;

  &-active {
    width: 14px;
    height: 4px;
    background-color: $primary-color;
  }
}

.custom-dot-list-style {
  cursor: pointer !important;
  display: block !important;
  width: 80px !important;
  height: 24px !important;
  bottom: -40px !important;
  display: flex !important;
  justify-content: space-between !important;
  left: calc(50% - 80px / 2) !important;
}
