@import "src/app/variables";
@import "src/utils/mixins";

.title_sub {
  color: $secondary-color;
  font-weight: 600;
  font-size: 14px;
  grid-column: span $mobile-columns-quantity;
  padding-bottom: 32px;

  @include onTablet {
    grid-column: span $tablet-columns-quantity;
  }

  @include onTablet {
    grid-column: span $desktop-columns-quantity;
  }
}

.sort {
  grid-column: span 2;
  padding-bottom: 24px;

  @include onTablet {
    grid-column: span 4;
  }
}

.pagination {
  grid-column: span 2;

  @include onTablet {
    grid-column: span 3;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  column-gap: inherit;
  row-gap: 40px;
  justify-content: space-around;
  grid-column: 1 / -1;
}
