@import 'src/app/variables';
@import 'src/utils/mixins';

.main {
  grid-column: span $mobile-columns-quantity;
  color: $primary-color;
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 8px;
  text-transform: capitalize;

  @include onTablet {
    font-size: 48px;
    grid-column: span $tablet-columns-quantity;
  }

  @include onDesktop {
    grid-column: span $desktop-columns-quantity;
  }
}
