@import "src/app/variables";
@import "src/utils/mixins";

.title_main {
  grid-column: span $mobile-columns-quantity;
  font-weight: 800;
  margin-bottom: 8px;

  @include onTablet {
    grid-column: span $tablet-columns-quantity;
  }

  @include onTablet {
    grid-column: span $desktop-columns-quantity;
  }
}

.title_sub {
  color: $secondary-color;
  font-weight: 600;
  font-size: 14px;
  grid-column: span $mobile-columns-quantity;
  padding-bottom: 32px;

  @include onTablet {
    grid-column: span $tablet-columns-quantity;
  }

  @include onTablet {
    grid-column: span $desktop-columns-quantity;
  }
}

.sort {
  grid-column: span 2;

  @include onTablet {
    grid-column: span 4;
  }
}

.pagination {
  grid-column: span 2;

  @include onTablet {
    grid-column: span 3;
  }
}
