@import 'src/app/variables';
@import 'src/utils/mixins';

.home_page_wraper {
  padding-top: 32px;
  overflow-x: hidden;
  margin: 0;
  min-width: 320px;
}

.main_title {
  font-size: 32px;
  font-weight: $bold-weight;
  line-height: 41px;
  letter-spacing: -0.48px;
  grid-column: span $mobile-columns-quantity;
  padding-bottom: 24px;

  @include onTablet {
    font-size: 48px;
    padding-bottom: 32px;
    line-height: 56px;
    grid-column: span $tablet-columns-quantity;

  }

  @include onDesktop {
    font-size: 48px;
    padding-bottom: 56px;
    grid-column: span $desktop-columns-quantity;
  }
}

.home_secondary_title {
  padding-bottom: 24px;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;

  @include onTablet {
    font-size: 32px;
  }
}

.banner_slider {
  margin-inline: -16px;
  grid-column: span $mobile-columns-quantity;
  padding-bottom: 80px;

  @include onTablet {
    padding-bottom: 80px;
    margin-inline: 0;
    grid-column: span $tablet-columns-quantity;
  }

  @include onDesktop {
    grid-column: span $desktop-columns-quantity;
  }


}

.new_models_slider {
  grid-column: span $mobile-columns-quantity;

  @include onTablet {
    grid-column: span $tablet-columns-quantity;
  }
  @include onDesktop {
    grid-column: span $desktop-columns-quantity;
  }
}

.products_slider_container {
  padding-bottom: 56px;
  margin-right: -16px;

  @include onTablet {
    margin-right: -24px;
    padding-bottom: 64px;
  }

  @include onDesktop {
    margin-right: 0;
    padding-bottom: 80px;
  }
}

.categories {
  padding-bottom: 56px;
  grid-column: span $mobile-columns-quantity;

  @include onTablet {
    padding-bottom: 64px;
    grid-column: span $tablet-columns-quantity;
  }

  @include onDesktop {
    grid-column: span $desktop-columns-quantity;
    padding-bottom: 80px;
  }
}

.category_card {
  width: clamp(187px, 35%, 450px);
}

.category__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  @include onTablet {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
}

.category_img {
  width: 100%;
  height: 100%;
  transition-duration: $button-hover-effect-duration;
  object-position: center center;
  margin: 0;

  &:hover {
    width: 110%;
    height: 110%;
  }

  &_box {
    position: relative;
    display: flex;
    margin-bottom: 24px;
    max-width: 288px;
    max-height: 288px;
    overflow: hidden;

    @include onTablet {
      min-width: 187px;
      min-height: 187px;
    }

    @include onDesktop {
      width: 368px;
      height: 368px;
      max-width: 368px;
      max-height: 368px;
    }
  }
}

.category__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;

  &:hover {
    color: violet;
  }
}
.category__description {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  color: $secondary-color;
}

.hot_prices {
  grid-column: span $mobile-columns-quantity;

  @include onTablet {
    grid-column: span $tablet-columns-quantity;
  }

  @include onDesktop {
    grid-column: span $desktop-columns-quantity;
  }
}
