@import 'src/app/variables';
@import 'src/utils/mixins';

.home_page_wraper {
  padding-top: 32px;
  overflow-x: hidden;
  margin: 0;
  min-width: 320px;
}

.main_title {
  font-size: 32px;
  font-weight: $bold-weight;
  line-height: 41px;
  letter-spacing: -0.48px;
  grid-column: span $mobile-columns-quantity;

  @include onDesktop {
    font-size: 48px;
    padding-bottom: 56px;
    line-height: 56px;
    grid-column: span $tablet-columns-quantity;
  }

  @include onTablet {
    font-size: 48px;
    padding-bottom: 56px;
    line-height: 56px;
    grid-column: span $desktop-columns-quantity;
  }
}

.home_secondary_title {
  padding-bottom: 24px;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;

  @include onDesktop {
    font-size: 32px;
  }

  @include onTablet {
    font-size: 32px;
  }
}

.banner_slider {
  grid-column: span $mobile-columns-quantity;
  padding-bottom: 80px;

  @include onDesktop {
    padding-bottom: 80px;

    grid-column: span $tablet-columns-quantity;
  }

  @include onTablet {
    padding-bottom: 80px;

    grid-column: span $desktop-columns-quantity;
  }
}

.new_models_slider {
  grid-column: span $mobile-columns-quantity;

  @include onDesktop {
    grid-column: span $tablet-columns-quantity;
  }

  @include onTablet {
    grid-column: span $desktop-columns-quantity;
  }
}

.new_models_slider_container {
  padding-bottom: 56px;

  @include onDesktop {
    padding-bottom: 80px;
  }

  @include onTablet {
    padding-bottom: 64px;
  }
}

.categories {
  padding-bottom: 56px;
  grid-column: span $mobile-columns-quantity;

  @include onDesktop {
    grid-column: span $tablet-columns-quantity;
    padding-bottom: 80px;
  }

  @include onTablet {
    padding-bottom: 64px;
    grid-column: span $desktop-columns-quantity;
  }
}

.category__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;

  &:hover {
    color: violet;
  }
}
.category__description {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  color: $secondary-color;
}

.category__cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;

  @include onDesktop {
    justify-content: space-between;
    flex-direction: row;
    gap: 16px;
  }

  @include onTablet {
    justify-content: space-between;
    flex-direction: row;
    gap: 16px;
  }
}

.category_card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include onDesktop {
  }

  @include onTablet {
  }
}

.category_img {
  background-color: black;
  min-width: 288px;
  min-height: 288px;
  margin-bottom: 24px;

  @include onDesktop {
    min-width: 368px;
    min-height: 368px;
  }

  @include onTablet {
  }
}

.hot_prices {
  grid-column: span $mobile-columns-quantity;

  @include onDesktop {
    grid-column: span $tablet-columns-quantity;
  }

  @include onTablet {
    grid-column: span $desktop-columns-quantity;
  }
}
