$bold-weight: 800;
$accent-weight: 700;
$semi-accent-weight: 600;
$regular-weight: 500;

$primary-color: #313237;
$secondary-color: #89939a;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;
$bg-and-hover-color: #fafbfc;
$white-color: #ffffff;
$green-color: #27ae60;
$red-color: #eb5757;
$body-color: #fcdbc1;

$button-small-size: 32px;
$button-favorite-size: 40px;

$icon-size: 16px;
$icon-active-size: 28px;

$button-hover-effect-duration: 0.3s;

$columns-gap: 16px;

$mobile-columns-quantity: 4;
$tablet-columns-quantity: 12;
$desktop-columns-quantity: 24;
$desktop-columns-width: 32px;
