$primary-color: #313237;
$secondary-color: #89939A;
$icons-color: #B4BDC3;
$elements-color: #E2E6E9;
$bg-and-hover-color: #FAFBFC;
$white-color: #FFFFFF;
$green-color: #27AE60;
$red-color: #EB5757;
$body-color: #FCDBC1;

$button-small-size: 32px;
$button-favorite-size: 40px;

$icon-size: 16px;
$icon-active-size: 28px;

