@import "../../app/variables.scss";
@import "../../utils/mixins.scss";

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  @include onDesktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
  }

  @include onTablet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
  }

  &__link {
    display: block;
    position: relative;
    font-size: 12px;
    color: $secondary-color;
    text-decoration: none;
    padding-block: 13.5px;
    font-weight: $bold-weight;
    font-style: normal;

    @include onDesktop {
      padding-block: 21.5px;
      &:hover {
        color: $primary-color;
      }
    }


    &--active {
      position: relative;
      font-size: 12px;
      color: $primary-color;
      text-decoration: none;
      padding-block: 13.5px;
      font-weight: $bold-weight;
      font-style: normal;

      @include onDesktop {
        padding-block: 21.5px;
        &:hover {
          color: $primary-color;
        }
      }


      &::after{
        content: "";
          position: absolute;
          display: block;
          height: 4px;
          width: 100%;
          background: $primary-color;
          bottom: 8;

          @include onDesktop {
            bottom: 0;
          }

          @include onTablet {
            bottom: 0;
          }
      }
    }
  }

}


.nav__link:hover::after{
  @include onDesktop {
    content: "";
        position: absolute;
        display: block;
        height: 4px;
        width: 100%;
        background: $primary-color;
        bottom: 0;
  }
}


