@import "../../app/variables.scss";
@import "../../app/mixins.scss";

.footer {
  margin: 0;
  box-sizing: border-box;
  position: sticky;
  top: 100%;
  width: 100%;
  min-width: 320px;
  background-color: #bae1ed; //delete later
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 32px 16px;
  row-gap: 32px;

  @include onTablet {
    display: grid;
    // flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
    // column-gap: 40px;
    padding: 32px 24px;
  }

  &--logo {
    display: inline-block;
  }

  &--links {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
    justify-content: space-between;
    color: $secondary-color;

    @include onTablet {
      flex-direction: row;
      align-items: center;
    }

    &--element {
      text-decoration: none;
      text-transform: uppercase;
      width: min-content;
      color: $secondary-color;
      font-weight: 800;
      font-family: 'Inter', sans-serif;
      font-size: 12px;
    }
  }

  &--back {
    display: flex;
    align-self: center;
    justify-self: center;
    cursor: pointer;

    @include onTablet {
      justify-self: flex-end;
    }

    &--text {
      text-transform: uppercase;
      color: $secondary-color;
      font-weight: 700;
      font-size: 12px;
      margin: 0;
    }
  }
}
