.footer {
  margin: 0;
  box-sizing: border-box;
  position: sticky;
  top: 100%;
  width: 100%;
  min-width: 320px;
  background-color: #bae1ed; //delete later
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  padding: 32px 152px;

  &--logo {
    display: inline-block;
  }

  &--links {
    display: flex;
    width: 100%;
    column-gap: 10px;
    justify-content: space-between;
    color: #89939A;

    &--element {
      text-decoration: none;
      text-transform: uppercase;
      color: #89939A;
      font-weight: 800;
      padding: -10px;
    }
  }

  &--back {
    display: flex;
    justify-content: flex-end;

    &--text {
      text-transform: uppercase;
      color: #89939A;
      font-weight: 700;
      cursor: pointer;
    }
  }
}
