@import 'src/app/variables';

.wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  margin-bottom: 24px;
  grid-column: 1 / -1;
}

.link_home {
  display: flex;
  align-items: center;
}

.link_category {

  color: $secondary-color;
  pointer-events: none;
  cursor: auto;
  text-transform: capitalize;
}

.link_product {
  color: $secondary-color;
  pointer-events: none;
  cursor: auto;
  text-transform: capitalize;
}
