@import "src/app/variables";

.wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  margin-bottom: 24px;
  grid-column: 1 / -1;
}

.link__home {
  display: flex;
  align-items: center;
}

.link__category {
  color: $secondary-color;
  pointer-events: none;
  cursor: auto;
  text-transform: capitalize;
}

.link__product {
  color: $secondary-color;
  pointer-events: none;
  cursor: auto;
}
